.compare-table {
    min-width: 1000px;
    width: 300px;
    table-layout: fixed;
    margin: auto;
}

.compare-table-header {
    background-color: #D8E1E8;
}

.compare-table-score {
    text-align: center !important;
    vertical-align: middle !important;
}