*.pyc
*.ipynb_checkpoints
nlp/venv/*
nlp/venv3/*
nlp/src/features/corenlp/dispatch*
nlp/src/features/*.txt
nlp/src/features/output
nlp/src/features/results
nlp/src/*.pkl
nlp/samples/reviews_of_bad_products_asins.pickle

# webapp
*.pickle
*.sqlite3
webapp/amazonproj/db.sqlite3
